.git
.github
.dockerignore
Dockerfile
docker-compose.yml
node_modules
vendor
tests
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
bootstrap/cachet/*.php
.env
.env.*
!.env.sample
scripts
